@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/10177.eot');
	src: local('☺'), url('../fonts/10177.woff') format('woff'), url('../fonts/10177.ttf') format('truetype'), url('../fonts/10177.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-ExtraBold.eot');
	src: local('☺'), url('../fonts/Gilroy-ExtraBold.woff') format('woff'), url('../fonts/Gilroy-ExtraBold.ttf') format('truetype'), url('../fonts/Gilroy-ExtraBold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'ChronicleDisplay';
	src: url('../fonts/ChronicleDisp-Roman.eot');
	src: local('☺'), url('../fonts/ChronicleDisp-Roman.woff') format('woff'), url('../fonts/ChronicleDisp-Roman.ttf') format('truetype'), url('../fonts/ChronicleDisp-Roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}